/* HOVER ON LINKS */
#A1{
    color: crimson;
}
#A2{
    text-decoration: none;
}
#A3{
    background-color: aquamarine;
}
#A4{
    transition: 0.5s ;
}
#A5{
    font-size: large;
}
#A6{
    letter-spacing: 1px;
}