/* COMMON STYLE */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

div {
    width: 200px;
    height: 80px;
    line-height: 80px;
    margin: 20px auto;
    background-color: lightblue;
    border: 2px solid black;
    transition: all 1s;
}

/* TRANSITION-PROPERTY */
#A1 {
    transition-property: width, background-color;
    transition-duration: 1s;
}

#A1:hover {
    width: 300px;
    background-color: coral;
}

/* TRANSITION-DURATION */
#A2 {
    transition-property: transform;
    transition-duration: 2s;
}

#A2:hover {
    transform: rotate(360deg);
}

/* TRANSITION-TIMING-FUNCTION */
#A3 {
    transition-property: margin-left;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

#A3:hover {
    margin-left: 200px;
}

/* TRANSITION-DELAY */
#A4 {
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 1s;
}

#A4:hover {
    background-color: yellowgreen;
}

/* TRANSITION-SHORTHAND */
#A5 {
    transition: all 2s linear 0.5s;
}

#A5:hover {
    width: 300px;
    background-color: pink;
    transform: scale(1.2);
}