/* BORDER STYLE */

#1{
    border-style: none;
}

#2{
    border-style: hidden;
}
#3{
    border-style: dotted;
}
#4{
    border-style: dashed;
}
#5{
    border-style: solid;
}
#6{
    border-style: double;
}

#7{
    border-style: groove;
}
#8{
    border-style: ridge;
}

#9{
    border-style: inset;
}
#10{
    border-style: outset;
}
#11{
    border-style: initial;
}
#12{
    border-style: inherit;
}
#13{
    border-style: unset;
}
#14{
    border-style: revert;
}
