/* TEXT DECORATION */
#A1{
    text-decoration: overline;
}
#A2{
    text-decoration: underline;
}
#A3{
    text-decoration: line-through;
}
#A4{
    text-decoration: none;
}

/* TEXT ALIGNMENT */
#A5{
    text-align: left;
}
#A6{
    text-align: center;
}   
#A7{
    text-align: right;
}
#A8{
    text-align: justify;
}

/* TEXT TRANSFORM */
#A9{
    text-transform: uppercase;
}
#A10{
    text-transform: lowercase;
}
#A11{
    text-transform: capitalize;
}
#A12{
    text-transform: none;
}


/* TEXT SPACING */
#A13{
    letter-spacing: 5px;
}

/* WORD SPACING */
#A14{
    word-spacing: 10px;
}

/* LETTER SPACING */
#A15{
    line-height: 2;
}

/* TEXT INDENT */
#A16{
    text-indent: 50px;
} 


/* TEXT COLOR */
#A17 {
    color: blue;
}
#A18 {
    color: #ff5733;
}
#A19 {
    color: rgb(34, 139, 34);
}
#A20 {
    color: rgba(255, 0, 0, 0.5);
}
#A21 {
    color: hsl(240, 100%, 50%);
}
#A22 {
    color: hsla(120, 100%, 25%, 0.7);
}



