  /* COMMON BOX STYLE */
    div{
        width: 220px;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
        background-color: lightblue;
        font-weight: bold;
    }

/* STATIC */
    #A1{
        position: static;
    }

/* RELATIVE */
    #A2{
        position: relative;
        left: 50px;
        top: 10px;
        background-color: lightgreen;
    }

 /* ABSOLUTE */
    #A3{
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: pink;
    }

/* FIXED */
    #A4{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: orange;
    }

/* STICKY */
    #A5{
        position: sticky;
        top: 0;
        background-color: yellow;
    }